@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: azure;
  border-bottom: 1px solid #6e6e6e;
  padding: 12px 16px;
  position: sticky;
  /* top: 0;
  z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header-heading {
  font-size: 1.1rem;
}

.app-nav {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 4px 0;
}

.nav-link {
  font-weight: 700;
  color: #111;
  text-decoration: none;
  font-size: 1rem;
}

.link {
  color: #111;
  text-decoration: none;
}

.nav-link:hover,
.link:hover {
  text-decoration: underline;
}

.app-main {
  max-width: 1110px;
  width: 100%;
  padding: 16px;
}

.not-found {
  padding: 20px;
  text-align: center;
  color: #666;
}

@media screen and (min-width: 572px) {
  .app-header {
    padding: 16px 20px;
  }

  .app-main {
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.2rem;
  }

  .app-nav {
    gap: 24px;
  }
}
